@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}


@keyframes shine {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(120%);
  }
}

.animate-shine {
  animation: shine 1.5s linear infinite;
}

body {
  width: 100%;
  overflow-x: clip;
}




  .btn-call-pulse {
    background: #1d304f;
    color: white;
    position: fixed;
    bottom: 140px;
    right: 50px;
    font-size: 20px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    padding: 20px;
    text-decoration: none;
    border-radius: 50%;
    animation-name: call-pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  
  }
  .btn-call-pulse .icon{color: #fff;} 

  .btn-call-pulse img{ color: #fff!important; font-size: 12px!important; }
  
  
  @keyframes call-pulse {
    0% {
      box-shadow: 0 0 0 0 #1d304f;
    }
  
    80% {
      box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
    }
  }



  .btn-whatsapp-pulse {
    background: #25d366;
    color: white;
    position: fixed;
    bottom: 80px;
    right: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    z-index: 100;
    padding: 20px;
    text-decoration: none;
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
    }
  
    80% {
      box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
    }
  }
  
  .btn-whatsapp-pulse-border {
    bottom: 200px;
    right: 200px;
    animation-play-state: paused;
  }
  
  .btn-whatsapp-pulse-border::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    padding: 25px;
    border: 5px solid #25d366;
    opacity: 0.75;
    animation-name: pulse-border;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes pulse-border {
    0% {
      padding: 25px;
      opacity: 0.75;
    }
  
    75% {
      padding: 50px;
      opacity: 0;
    }
  
    100% {
      opacity: 0;
    }
  }
